* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.top-header {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 50px;
       column-gap: 50px;
  font-size: 0.78rem;
  padding: 6px 0px;
}

header > div:first-child {
  background-color: #0282f9;
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 50px 0px;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div a {
  text-decoration: none;
  color: #464646;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: -0.1rem;
}

#shop-nav-link {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

#shop-nav-link {
  color: #0282f9;
}

#search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-bottom: #0282f9 2px solid;
  height: 20px;
  width: 120px;
  padding-bottom: 6px;
  margin-top: 50px;
}

#search span {
  color: #464646;
  font-weight: 700;
  font-size: 1.05rem;
  letter-spacing: -0.05rem;
}

#search i {
  color: #303030;
}

header > div:last-child {
  height: 400px;
}

